<h1>{{ title }}</h1>
<div class="container">
  <div class="panel">
    <p class="listTitle label"><span style="text-decoration: underline;">{{ listTitle }}</span><span *ngIf="todoList.length > 0" class="detail">&nbsp;&lpar;{{ todoList.length }}&rpar;</span></p>
    <div *ngIf="todoList.length === 0">
      <p class="detail">No tasks to display</p>
    </div>
    <ul *ngIf="todoList.length > 0">
      <li *ngFor="let td of todoList; let i = index">
        <div>
          <div class="taskGroup">
            <div class="moveContainer">
              <div class="chevron" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" *ngIf="isNotFirstIndex(i)" [ngClass]="{'up-chevron': isNotLastIndex(i)}" (click)="moveUp(i)">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" stroke="gray" stroke-width="2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/></svg>
                <span class="tooltip" *ngIf="showTooltip">Move&nbsp;up</span>
              </div>
              <div class="chevron" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" *ngIf="isNotLastIndex(i)" [ngClass]="{'down-chevron': isNotFirstIndex(i)}" (click)="moveDown(i)">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" stroke="gray" stroke-width="2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>
                <span class="tooltip" *ngIf="showTooltip">Move&nbsp;down</span>
              </div>
            </div>
            <div>{{ td }}</div>
          </div>
          <button class="remove" (click)="deleteItem(td)">&check; Mark complete</button>
        </div>
      </li>
    </ul>
    <div class="completedPrompt" *ngIf="completedList.length > 0" (click)="toggleShowCompleted()">
      <p class="detail">View completed tasks</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" stroke="gray" stroke-width="2" viewBox="0 0 16 12" [ngClass]="{'hide': showCompleted}">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" stroke="gray" stroke-width="2" viewBox="0 0 16 12" [ngClass]="{'hide': !showCompleted}">
        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
      </svg>
    </div>
    <ul *ngIf="showCompleted">
      <li *ngFor="let td of completedList" class="completed">
        <div class="detail">{{ td }}</div>
      </li>
    </ul>
  </div>
  <div class="panel">
    <p class="label">{{ prompt }}</p>
    <p>
      <!-- this (ngModel) is a directive that binds the input element to the property -->
      <textarea type="text" placeholder="Type something..." id="todo" name="todo" [(ngModel)]="todo"></textarea>
    </p>
    <button type="button" class="add" (click)="addItem()">Add</button>
  </div>
</div>