@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Rubik+Mono+One&display=swap');

* {
    font-family: Rubik, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background: rgb(196,238,174);
    background: linear-gradient(90deg, rgba(196,238,174,0.8604035364145658) 0%, rgba(148,187,233,0.840795693277311) 100%);
}

div.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.hide {
    display: none;
}

div.container div.panel {
    flex-basis: 47%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    align-self: flex-start;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 3.5px 3.5px 0 black;
    stroke: 2px solid black;
    text-align: center;
    font-size: 35px;
}

button {
    border-radius: 5px;
    cursor: pointer;
}

button.add {
    padding: 8px 16px;
}

button.remove {
    padding: 5px 10px;
    background-color: mediumseagreen;
    color: white;
    font-size: 15px;
    border: none;
}

button.remove:hover {
    background-color: seagreen;
}

textarea {
    padding: 10px;
    margin: 20px 0;
    width: 95%;
    background: transparent;
    border-radius: 5px;
}

ul, li, p {
    margin: 0;
}

p.label {
    font-weight: 700;
}

.detail {
    font-style: italic;
    color: gray;
    font-weight: 400;
}

.completedPrompt .detail, .completed .detail {
    font-size: 16px;
}

div.completedPrompt {
    margin: 25px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 5px;
    cursor: pointer;
}

.listTitle {
    margin-bottom: 15px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding: 15px 0;
    border-bottom: 2px solid gainsboro;
}

li.completed {
    padding: 8px 0;
    border-bottom-width: 1px;
}

li.completed:first-child {
    padding-top: 20px;
}

li:last-child {
    border-bottom: none;
}

li div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.taskGroup {
    display: flex;
}

.moveContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 25px;
    height: 40px;
    margin-right: 15px;
    outline: 5px solid lavender;
    background-color: lavender;
}

.chevron {
    position: absolute;
    cursor: pointer;
}

.down-chevron {
    bottom: 0;
}

.up-chevron {
    top: 0;
}

.tooltip {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-100%);
    background-color: darkslateblue;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing:0.5px;
}

.chevron:hover .tooltip {
    visibility: visible;
    opacity: 0.8;
}
  
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 850px) {

    div.container {
        display: block;
    }

    div.panel {
        width: 93%;
        margin: 20px auto;
    }

}